<footer>
    <div class="wrapper">
        <ul>
            <li class="facebook"><a href=""><i class="fa fa-facebook fa-1x"
                        aria-hidden="true"></i></a>
            </li>
            <li class="twitter"><a href="https://www.linkedin.com/company/defianzracing/mycompany/"><i
                        class="fa fa-linkedin fa-1x" aria-hidden="true"></i></a></li>
            <li class="instagram"><a href="https://www.instagram.com/defianzracing_dtusdc/"><i
                        class="fa fa-instagram fa-1x" aria-hidden="true"></i></a>
            </li>
            <li class="google"><a href="mailto:teamdefianz@dtu.ac.in"><i class="fa fa-google fa-1x"
                        aria-hidden="true"></i></a></li>
            <!-- <li class="whatsapp"><a href="#"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a></li> -->
        </ul>
    </div>
    <div id="copyright"> <span>&#169;</span>Made with &#10084; by Krushnal, Rishabh, Anirudh</div>
</footer>