<link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet'>
<header>
    <a id="logos" href="/">
        <img id="logo" src="/imgs/lightspeed.png" alt="logo">
    </a>

    <div id="nav_bar">
        <a href="/1">1</a>
        <a href="/2">2</a>
        <a href="/3">3</a>
        <a href="/4">4</a>
        <% if(locals.user) { %> 
            <a href="/login"><%= user.username %></a>
        <% } else { %>
            <a href="/login">SIGN IN/SIGN UP</a>
        <% } %>

    </div>

</header>