<link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet'>
<header>
    <a id="logos" href="/">
        <img id="logo" src="/imgs/lightspeed.png" alt="logo">
    </a>

    <div id="nav_bar">
        <a href="/">Home</a>
        <a href="/vaccine">Market & Transactions</a>
        <% if(locals.user) { %> 
            <a href="/login"><%= user.username %></a>
            <a href="/logout">Log Out</a>
        <% } else { %>
            <a href="/login">SIGN IN/SIGN UP</a>
        <% } %>

    </div>

</header>