<html>

<head>
    <title>Project Lightspeed</title>
    <link rel="icon" href="/imgs/logo.jpg">
    <link rel="stylesheet" href="/css/_header.scss" type="text/css">
    <link rel="stylesheet" href="/css/_footer.scss" type="text/css">
    <link rel="stylesheet" href="/css/profile.scss" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <%- include('_header'); %>
        <main>

            <form id="update_data" action="/profile/add_details" method="POST">
                <h1>Add/Update details</h1>
                <fieldset>
                    <input type="text" id="name" name="name" placeholder="Vaccine Name">
                    <input type="text" id="vaccine_type" name="vaccine_type" placeholder="Vaccine Type">
                    <input type="number" id="vaccines" name="availibility" placeholder="Vaccines Available">
                    <input type="number" id="needed" name="needed" placeholder="Vaccines Needed">
                    <input type="number" id="price" name="price" placeholder="Price">
                    <input type="password" id="password" name="password" placeholder="Password">
                </fieldset>
                <button type="submit">Add Details</button>
            </form>
            <form id="update_password" action="/login/update_password" method="POST">
                <h1>Change Password</h1>
                <fieldset>
                    <input type="password" id="current_password" name="current_password" placeholder="Current Password">
                    <input type="password" id="new_password" name="new_password" placeholder="New Password">
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm New Password">
                </fieldset>
                <button type="submit">Change Password</button>
            </form>
        </main>
</body>

</html>