body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Play';
}

main {
    padding-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main:before {
    content: " ";
    position: fixed;
    top: 5%;
    width: 100vw;
    height: 95vh;
    z-index: -1;
    opacity: 0.25;
    background-image: url("/imgs/covid_19.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-color: lightcyan;
    background-size: 100vw 100vh;
}

#intro {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#intro1 h1{
    font-size: 4rem;
    color: rgba(132, 0, 255, 0.582);
}

#intro1,
#intro2 {
    width: 40vw;
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#tagline {
    font-size: 2.5em;
    color: rgb(158, 48, 48);
    font-weight: 800;
}

#intro2 {
    flex-direction: row;
    align-items: center;
}

.typing {
    font-family: "Inconsolata", Consolas, monospace;
    font-size: 3em;
    font-weight: 100;
}

.typing span {
    font-family: "Inconsolata", Consolas, monospace;
    font-size: inherit;
    font-weight: 900;
    color: rgb(255, 2, 2);
}

span {
    font-size: 1.5rem;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #3dff57;
    border: none;
    color: #000000;
    text-align: center;
    height: 10vh;
    font-size: 1.3rem;
    padding: 20px;
    width: max-content;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#user {
    height: 40vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Play';
}

#user span{
    margin: 5px 0px;
}

#sell {
    margin-top: 2px;
    color: blue;
}

.cards {
    background-color: rgb(232, 250, 255);
    height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cards div{
    filter: grayscale(80%);
}

.cards div:hover {
    filter: grayscale(0%);
}

.cards div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cards img {
    width: 2.5vw;
    height: 2.5vw;
}

.cards h4 {
    margin-top: -10px;
}

.features {
    height: max-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    // padding: 2rem;
    justify-content: flex-start;
    box-sizing: border-box;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
}

#feature_cards_section {
    height: max-content;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.feature_cards {
    width: 35vw;
    height: 30vh;
    background-color: rgba(251, 255, 0, 0.33);
    border-radius: 10px;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 20px 0.5px;
    transition: all 0.5s;
}

.feature_cards:hover{
    transform: translate(1%, 1%);
    box-shadow: 2px 2px 8px 0.2px;
}

h1{
    margin: 0px;
}

.card_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;    
}

.vaccine_info {
    font-size: 1.2rem;
}

#about_img {
    width: 30vh;
    height: 30vh;
}

#about_us2 {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    background-color: lightcyan;
    height: 40vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#about_text {
    max-width: 40vw;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li{
    list-style: none;
}
