body {
    margin: 0;
    overflow-x: hidden;
    background-color: lightgoldenrodyellow;
}

main {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    font-family: "Play";
}

main:before {
    content: " ";
    position: fixed;
    top: 5%;
    width: 100vw;
    height: 95vh;
    z-index: -1;
    opacity: 0.25;
    background-image: url("/imgs/covid_19.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-color: lightcyan;
    background-size: 100vw 100vh;
}

#aside_1 {
    margin-top: 10vh;
    font-size: 2rem;
    max-width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 70vh;
    padding: 2rem;
}
#aside_2 {
    margin-top: 10vh;
    max-width: 50vw;
    max-height: 70vh;
    min-width: 50vw;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    font-size: 1.2rem;
    box-sizing: border-box;
}

#country_flag {
    background-color: red;
    width: 80%;
    height: 35%;
    margin: 10%;
}

h1 {
    padding-bottom: 2vh;
    border-bottom: black solid 3px;
}

form {
    background-color: #e0fdfd;
    width: 30vw;
    padding: 2.5% 5%;
    border-radius: 2vh;
}

form input {
    background-color: inherit;
    padding: 1vh;
    border: solid black 2px;
    border-radius: 1vh;
}

form input::placeholder {
    font-size: 1rem;
}

form input:active {
    border: 1vh;
}

#aside_2 div {
    margin: 2vh;
}
